[Unit]
Description=MovieHub Catalogue Service
After=network.target

[Service]
User=movie
WorkingDirectory=/app
ExecStart=/usr/bin/node /app/server.js
Restart=always
Environment=MONGO_URL=mongodb://mongodb-qa.daws88sonline.online:27017/catalogue

[Install]
WantedBy=multi-user.target