[Unit]
Description=User Service
After=network.target

[Service]
User=movie
WorkingDirectory=/app

Environment=MONGO=true
Environment=REDIS_HOST={{ REDIS_HOST }}
Environment=MONGO_URL=mongodb://{{ MONGODB_HOST }}:27017/users

ExecStart=/usr/bin/node /app/server.js

Restart=always
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target