*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}

body{

background:#fff7f0;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 80px;

background:#ff3d00;

color:white;

}

.logo{

font-size:32px;

font-weight:bold;

}

nav ul{

display:flex;

list-style:none;

gap:30px;

}

nav a{

text-decoration:none;

color:white;

font-size:18px;

}

.hero{

height:90vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:url(images/pizza-bg.jpg);

background-size:cover;

color:white;

}

.hero h1{

font-size:60px;

margin-bottom:20px;

}

.hero p{

font-size:24px;

margin-bottom:30px;

}

.btn{

padding:15px 40px;

background:#ff5722;

color:white;

text-decoration:none;

border-radius:10px;

}

#menu{

padding:80px;

text-align:center;

}

.cards{

display:flex;

justify-content:center;

gap:40px;

margin-top:40px;

}

.card{

width:300px;

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.2);

transition:.3s;

}

.card:hover{

transform:scale(1.05);

}

.card img{

width:100%;

border-radius:15px;

}

.card h3{

margin-top:15px;

}

#order{

padding:80px;

text-align:center;

}

form{

display:flex;

flex-direction:column;

width:400px;

margin:auto;

gap:20px;

}

input{

padding:15px;

font-size:18px;

border-radius:8px;

border:1px solid gray;

}

button{

padding:15px;

background:#ff5722;

color:white;

border:none;

font-size:18px;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#e64a19;

}

#contact{

padding:80px;

text-align:center;

}

footer{

padding:20px;

background:black;

color:white;

text-align:center;

}